// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Custom general rules
html body #app {
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
}

main {
    height: calc(100vh - 55px);
}