/*.Pilot_Bubble {
    position: absolute;
    transform: translateX(-10px);
}

.form_Pilot_bubble {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
    margin-top: -100px;
}

.form_Pilot_bubble p {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0 !important;
}

.Info_Pilot {
    margin-top: 10px;
    background: white;
    width: 120px;
    border: 1px solid black;
}

.Info_Pilot p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.polygon_Pilot {
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(-135deg);
    border-radius: 0 0 6px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -11px;
    margin-left: 30px;
}

.Info_Pilot_Icon {
    width: 40px !important;
    height: 40px !important;
    background: transparent;
    border: 0;
}

.Last_Icon {
    margin-left: 45px;
}

.Info_Pilot_Icon img {
    height: 100%;
    width: 100%;
}*/

$dropdown_button_size: 75px;
$dropdown_button_offset_side: 10px;

.dropdown_button_container {
    display: block;
    position: absolute;
    pointer-events: none;
}

#dropdown_pilots_btn {
    position: absolute;
    z-index: 2;
}

.dropdown_button_container button {
    pointer-events: all;
}

#dropdown_pilots_btn,
#dropdown_actions_btn,
.dropdown_pilot_bubble_button {
    height: $dropdown_button_size;
    width: $dropdown_button_size;
}

.dropdown_button_container img {
    height: 100%;
    width: 100%;
}

.dropdown_button_container button,
.dropdown_button_container img {
    border-radius: 75px !important;
}

#dropdown_pilots_container {
    top: 150px;
    left: $dropdown_button_offset_side;
    height: calc(100% - 150px);
}

#dropdown_actions_container {
    bottom: 20px;
    right: $dropdown_button_offset_side;
    height: calc(100% - 20px);
}

.dropdown_content {
    height: calc(100% - $dropdown_button_size);
    pointer-events: none;
}

.dropdown_pilot_bubble_container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    max-height: $dropdown_button_size;
    width: 500px;
}

.dropdown_pilot_bubble_info {
    background-color: white;
}

.dropdown_pilot_bubble_info table {
    display: inline;
}

.dropdown_pilot_bubble_info>* {
    display: inline;
}

.dropdown_pilot_bubble_info p {
    display: block;
}

#map {
    height: 100%;
    width: 100%;
    filter: saturate(2);
}