.Pilot_Bubble {
    position: absolute;
    opacity: 0;
    transform: translateX(-10px);

}

.form_Pilot_bubble {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    background-color: white;
    border: 2px solid black;
    border-radius: 50px;
}

.form_Pilot_bubble p {
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0 !important;
}

.Info_Pilot {
    margin-top: 10px;
    background: white;
    width: 120px;
    border: 1px solid black;
}

.Info_Pilot p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.polygon_Pilot {
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(-135deg);
    border-radius: 0 0 6px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: -11px;
    margin-left: 30px;
}

.Info_Pilot_Icon {
    width: 40px !important;
    height: 40px !important;
    background: transparent;
    border: 0;
}

.Last_Icon {
    margin-left: 45px;
}

.Info_Pilot_Icon img {
    height: 100%;
    width: 100%;
}

.dropdown_button {
    display: block;
    position: absolute;
    height: 120px;
    width: 120px;
}

.dropdown_button button,
.dropdown_button img {
    border-radius: 75px !important;
    height: 100%;
    width: 100%;
}

#dropdown_pilots_container {
    top: 150px;
    left: 10px;
}

#dropdown_actions_container {
    bottom: 50px;
    right: 50px;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 0;
    filter: saturate(2);
}